nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background:black;
    text-decoration:none;

}

body {
    background-image: url("https://i.redd.it/m87tz1bff1g01.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-y: 30%;
    background-size: 500% auto;
   
}
@media only screen and (max-width: 600px){
    body {
        background-size: auto;
    }
}



.formcontainer{
    display: flex;
    width: 75%;
    border: 1px solid black;
    border-radius: 5px;
    background-color:#f2f2f2;
    padding: 20px;
    color:black;
    background-color: cornflowerblue;
}
input[type=text], select, textarea {
        width: 100%; /* Full width */
        padding: 12px; /* Some padding */ 
        border: 1px solid #ccc; /* Gray border */
        border-radius: 4px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
.container{
    height: 100%;
}

.Contact{
padding-top: 100%;
}